<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activities"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true">
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name="com.activities.WaypointMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.activities.LocationGathererService"
            android:permission="com.android.im.permission.IM_SERVICE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.im.IRemoteImService" />
                <action android:name="com.android.im.SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.activities.LocationGathererService"
            android:enabled="true">
        </service>
    </application>
</manifest>